{
  "overrides": [
    {
      "files": ["*.md", "README"],
      "options": {
        "perser": "markdown-nocjsp",
        "quickFix": true
      }
    },
    {
      "files": ["*.mdx"],
      "options": {
        "perser": "mdx-nocjsp",
        "quickFix": true
      }
    }
  ]
}
