---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("works")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="WORKS">
  <h2>記事一覧</h2>
  <ul>
    {
      posts.map((post) => (
        <li>
          <time datetime={post.data.pubDate.toISOString()}>
            {post.data.pubDate.toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
          <a href={`/works/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
