---
import Layout from "../layouts/BaseLayout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="HOME">
  <SectionContainer>
    <h2>概要</h2>
  </SectionContainer>
</Layout>
